/* .myswiper {
  width: 300px;
  height: 300px; 
   /* position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px; */
/* border: 1px solid red;
} */


/*
.swiper-slide img {
  display: block;
  width: 100%;
} */

.swiper-slide {
  /* background-position: center;
  background-size: cover; */
  margin-left: 0;
 /* height: 20vh; */
 
}

.test {
  /* border: 5px solid black; */
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 1vh;
}
.test span {
  color: var(--global-color-text);
  font-family: var(--ff-tertiary);
}
.detail {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  align-items: center;
  /* border: 1px solid red; */
}
.detail img {
  /* border: 1px solid red; */
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
.finer_detail {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.finer_detail h2 {
  color: var(--global-color-0056b7b);
  font-family: var(--ff-tertiary);
  font-size: medium;
  white-space: nowrap;
}
.finer_detail small {
  color: var(--global-color-black);
  font-family: var(--ff-tertiary);
  font-size: small;
}

@media (max-width: 992px) {
  .test {
    gap: 1vh;
  }
  .test span {
    font-size: medium;
  }
}
