.myswiper {
  width: 300px;
  height: 300px;
}

.slide {
  margin-left: 0;
}

.test {
  /* border: 5px solid black; */
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 1vh;
}
.test span {
  color: var(--global-color-text);
  font-family: var(--ff-tertiary);
}
.detail {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  align-items: center;
  /* border: 1px solid red; */
}
.img {
  /* border: 1px solid red; */
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
.finerdetail {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.finerdetailh2 {
  color: var(--global-color-0056b7b);
  font-family: var(--ff-tertiary);
  font-size: medium;
  white-space: nowrap;
}
.finerdetailsmall {
  color: var(--global-color-black);
  font-family: var(--ff-tertiary);
  font-size: small;
}

@media (max-width: 992px) {
  .test {
    gap: 1vh;
  }
  .test span {
    font-size: medium;
  }
}
